.profile_cont{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}


.profile_box{
    text-align: left;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.4);
    padding: 15px 25px;
    border-radius: 10px;
}

.profile_box h3 {
    text-align: center;
    text-transform: capitalize;
}

.logout__btn{
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}