.loading {
    margin-top: 40%;
}

.search_container{
    display: grid;
    width: 90%;
    grid-template-columns: repeat(4, 24%);
    grid-gap: 1.34%;
    margin: auto;
}
.user_card {

}

.user_card img{  
    width: 100%;
}